<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Type machine:</strong>
    <%= maintenance.type_machine %>
  </p>

  <p>
    <strong>Type maintenance:</strong>
    <%= maintenance.Type_maintenance %>
  </p>

  <p>
    <strong>Name machine:</strong>
    <%= maintenance.name_machine %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= maintenance.date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= maintenance.email %>
  </p>

  <p>
    <strong>Machines:</strong>
    <%= maintenance.machines_id %>
  </p>

  <p>
    <strong>Cities:</strong>
    <%= maintenance.cities_id %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= maintenance.materials_id %>
  </p>

</div>
