<div id="<%= dom_id machine %>">
  <p>
    <strong>Type:</strong>
    <%= machine.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= machine.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= machine.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= machine.photo %>
  </p>

</div>
